<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guratungu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.LoginAdmin"/>
        <activity android:name=".admin.IndexAdmin"/>
        <activity android:name=".admin.Announcment"/>
        <activity android:name=".admin.RegisterAdmin"/>
        <activity android:name=".admin.TambahEvent"/>
        <activity android:name=".admin.listagenda.ListAgenda"/>
        <activity android:name=".admin.listannoncment.ListAnnoncment"/>
        <activity android:name=".karyawan.IndexKaryawan"/>
        <activity android:name=".karyawan.LoginKaryawan"/>
        <activity android:name=".admin.listjoinadmin.ListChatGrup"/>
        <activity android:name=".karyawan.listagendakaryawan.ListAgenda"/>
        <activity android:name=".karyawan.listannoncmentkaryawan.ListAnnoncmentkarywan"/>
        <service
            android:name=".notifikasi.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>